.agniya__container {
    section {
        min-height: 100vh;
        overflow: hidden;
    }
    
    .aghniya__cover {
        text-align: center;
        .aghniya__cover-header {
            font-weight: 800;
            color: #000000;
            line-height: 20px;
            letter-spacing: 4px;
            h2 {
                margin-top: 119px;
                font-size: 24px;
            }
            p {
                font-size: 11px;
            }
        }

        .aghniya__cover-content {
            width: 296px;
            height: 439px;
            margin: 30px auto;
            border-radius: 143px;
            background: blue;
        }

        .aghniya__cover-invitation {
            flex-direction: column;
            display: flex;
            letter-spacing: 4px;
            font-weight: 800;
            line-height: 20px;
            span {
                font-size: 11px;
            }
            h1 {
                font-size: 24px;
                margin: 15px auto;
            }
        }

        .agniya__cover-open {
            margin-top: 30px;
            font-size: 15px;
            font-weight: 800px;
            line-height: 15px;
            letter-spacing: -0.23px;
            color: white;
            background-image: linear-gradient(to left top, #4b3ca3, #3e3294, #312885, #231f76, #141668);
            width: 153px;
            height: 35px;
        }
    }
}