.agniya__bride {
    padding: 4.5rem 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    .agniya__bride-container {
        z-index: 3;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .agniya__bride-image {
            width: 100%;
            height: 20rem;
            img {
                height: 100%;
            }
        }
        
        letter-spacing: -0.014rem;
        .agniya__bride-name {
            margin-top: 1.2rem;
            font-family: "Pinyon Script", cursive;
            font-size: 1.5rem;
            font-weight: 400;
        }
        
        .agniya__bride-description {
            margin-top: .2rem;
            font-size: 0.75rem;
            width: 12.875rem;
        }
    }

    .agniya__bride--separator {
        z-index: 3;
        line-height: 2.563rem;
        font-family: "Pinyon Script", cursive;
        font-size: 2rem;
        margin: 1.875rem 0;
    }
}