.agniya__bride {
    padding: 4.5rem 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    .agniya__bride-container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .agniya__bride-image {
            width: 12.5rem;
            height: 20rem;
            border: 1px solid black;
            border-radius: 7.5rem;
        }
        
        letter-spacing: -0.014rem;
        .agniya__bride-name {
            margin-top: 1.25rem;
            line-height: 2.563rem;
            font-family: "Pinyon Script", cursive;
            font-size: 1.5rem;
            font-weight: 400;
        }
        
        .agniya__bride-description {
            font-size: 0.75rem;
            width: 12.875rem;
        }
    }

    .agniya__bride--separator {
        line-height: 2.563rem;
        font-family: "Pinyon Script", cursive;
        font-size: 2rem;
        margin: 1.875rem 0;
    }
}