.aghniya__quote {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .agniya__quote-cover {
        height: 90vh;
        width: 100%;
        border-top-left-radius: 12rem;
        border-top-right-radius: 12rem;
        display: flex;
        justify-content: center;
        padding: 2rem;
        border: 1px solid black;

        .agniya__quote-content {
            border: 1px solid black;
            height: 80%;
            width: 100%;
            border-radius: 12rem;

            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1.5rem;
            img {
                width: 2rem;
            }

            text-align: center;
            font-size: 0.875rem;
            .agniya__quote--du-a {
                margin-top: 2rem;
                font-weight: 800;
            }
            .agniya__quote--translate {
                margin-top: 1.8rem;
            }
            .agniya__quote--surah {
                margin-top: 1.8rem;
                font-weight: 800;
            }
        }
    }
}

@media (min-width: 360px)
{
    .aghniya__quote {
        .agniya__quote-cover {
            border-top-left-radius: 20rem;
            border-top-right-radius: 20rem;
            padding: 2rem;

            .agniya__quote-content {
                border-radius: 20rem;
            }
        }
    }
}

@media (min-width: 375px)
{
    .aghniya__quote {
        .agniya__quote-cover {
            height: 92vh;
            border-top-left-radius: 12rem;
            border-top-right-radius: 12rem;
            padding: 2rem;

            .agniya__quote-content {
                border-radius: 12rem;
                height: 85%;
            }
        }
    }
}

@media (min-width: 390px)
{
    .aghniya__quote {
        .agniya__quote-cover {
            height: 90vh;
            .agniya__quote-content {
                height: 75%;
            }
        }
    }
}

@media (min-width: 412px)
{
    .aghniya__quote {
        .agniya__quote-cover {
            height: 90vh;
            
            .agniya__quote-content {
                padding: 3rem;
                height: 75%;
            }
        }
    }
}