.agniya__quote {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    position: relative;
    overflow: hidden;

    .agniya--bride-background {
        position: absolute;
        z-index: 2;
        height: 90%;
        bottom: 0;
        opacity: .1;
    }

    .agniya__quote-cover {
        z-index: 3;
        border-radius: 13.75rem;
        border-bottom: none;
        border-left: none;
        border-right: none;
        height: 1050px;
        width: 100%;
        margin-bottom: -400px;
        box-shadow: 0px 8px 20px -1px rgba(0, 0, 0, 0.348) inset;
        -webkit-box-shadow: 0px 8px 20px -1px rgba(0, 0, 0, 0.348) inset;
        -moz-box-shadow: 0px 8px 20px -1px rgba(0, 0, 0, 0.348) inset;
        border: 2px solid white;

        display: flex;
        justify-content: center;
        align-items: start;
        padding: 2.5rem;
        background: rgba(255, 255, 255, 0.309);

        .agniya__quote-content {
            box-shadow: 0px 8px 20px -1px rgba(0, 0, 0, 0.348) inset;
            -webkit-box-shadow: 0px 8px 20px -1px rgba(0, 0, 0, 0.348) inset;
            -moz-box-shadow: 0px 8px 20px -1px rgba(0, 0, 0, 0.348) inset;
            border: 2px solid white;
            background: rgba(255, 255, 255, 0.309);
            border-radius: 13.75rem;
            width: 100%;
            height: 530px;

            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            
            img {
                width: 1.3rem;
            }

            p {
                text-align: center;
            }

            text-align: center;
            font-size: 0.875rem;
            .agniya__quote--du-a {
                margin-top: 1.3rem;
                font-weight: 800;
            }
            .agniya__quote--translate {
                margin-top: 1.3rem;
            }
            .agniya__quote--surah {
                margin-top: 1.3rem;
                font-weight: 800;
            }
        }
    }
}

@media (min-height: 800px)
{
    .agniya__quote {
        padding: 0;
        height: 100vh;

        .agniya__quote-cover {
            height: 130vh;
            margin-bottom: -50vh;
            padding: 3rem;

            .agniya__quote-content {
                padding: 2.5rem;
                height: 600px;
            }
        }
    }
}